<div class="top-bar">
    <img src="/assets/logo.png" />
<!-- <span class="saperator"></span> -->
<div class="menu-items">
<ul>
    <li class="nav-link">
      <a href="#">Products</a>   
    </li>
    <li class="nav-link">
        <a href="#">Solutions</a>   

    </li>
    <li class="nav-link">
        <a href="#">Pricing</a>   

    </li>
    <li>
        <button class="outline-btn"> Login</button>
    </li>
    <li>
        <button class="getStarted">Get Started</button>
    </li>
</ul>
</div>
</div>